input.webextension.select-tag-filter.filter {
	margin: 2px 0;
	padding: 2px 2px 2px 1.5em;
	color: #101418;
	background-color: #efefef;
	border: 1px solid #777777;
	border-radius: 5px;
	background-position: center left 2px;
	background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAARBJREFUSEvFlYENwkAIRX830UnUTXQSdRJ1Et1EN9E+A0k978rVtpHE1KQcDz5wbTSzNTPH118BC0lbSStJ/Mduki72rCq+VMFB0r4Q4WEQfELLAbrBj5YtQTEqcvBZ0i4ipIB1K8nVDm0KUiDXvYUBBYBsRUsBJ8uSzPsk8CoJTiLVADIjw6VlWDrYrQLfasDTPKPx/RmA/vShpL9n6r2iD4Mq8B5EE+I9iPy+NrlmQrqTFvUqe1V4dr5QTAo/32zfA94jpe9IttG5ZqaBcgcJil8I6ZsWApAtT2TxitAdYyBCSDSOfSNO8BAyBgA8hIwFhJApACnk436aCuAQFtWv+Hf/pgRU70H0DRn0fvYKXnVLRhnSxwYpAAAAAElFTkSuQmCC');
	background-size: 1.2em;
}
.webextension.select-tag-filter.none {
	cursor: not-allowed;
	& > select {
		pointer-events: none;
	}
}
